<div class="container">
  <ul>
    <% @article.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>

  <%= form_with(model: @article, local: true) do |f| %>
    
    <div class="article_title">
      <div>
        <%= f.text_field :object_left, class: 'object' %>
      </div>
      <h3 class="article_title_vs">vs</h3>
      <div>
        <%= f.text_field :object_right, class: 'object' %>
      </div>
    </div>

    <div class="article_item">
      <div class="article_item_title">
        <%= f.text_field :item1, class: 'item' %>
      </div>
      <div class="article_item_rate">
        <div class="article_item_rate_left">
          <h3>aaaaaaaaa</h3>
        </div>
        <div class="article_item_rate_right">
          <h3>bbbbbbbbb</h3>
        </div>
      </div>
    </div>

    <div class="article_item">
      <div class="article_item_title">
        <%= f.text_field :item2, class: 'item' %>
      </div>
      <div class="article_item_rate">
        <div class="article_item_rate_left">
          <h3>aaaaaaaaa</h3>
        </div>
        <div class="article_item_rate_right">
          <h3>bbbbbbbbb</h3>
        </div>
      </div>
    </div>

    <div class="article_item">
      <div class="article_item_title">
        <%= f.text_field :item3, class: 'item' %>
      </div>
      <div class="article_item_rate">
        <div class="article_item_rate_left">
          <h3>aaaaaaaaa</h3>
        </div>
        <div class="article_item_rate_right">
          <h3>bbbbbbbbb</h3>
        </div>
      </div>
    </div>

    <div class="article_item">
      <div class="article_item_title">
        <%= f.text_field :item4, class: 'item' %>
      </div>
      <div class="article_item_rate">
        <div class="article_item_rate_left">
          <h3>aaaaaaaaa</h3>
        </div>
        <div class="article_item_rate_right">
          <h3>bbbbbbbbb</h3>
        </div>
      </div>
    </div>

    <div class="article_item">
      <div class="article_item_title">
        <%= f.text_field :item5, class: 'item' %>
      </div>
      <div class="article_item_rate">
        <div class="article_item_rate_left">
          <h3>aaaaaaaaa</h3>
        </div>
        <div class="article_item_rate_right">
          <h3>bbbbbbbbb</h3>
        </div>
      </div>
    </div>
    
    <div class="article_contributor_comment_input">
      <%= f.text_area :contributor_comment %>
    </div>

    <%= f.submit '保存', class: 'btn-primary' %>
  <% end %>
</div>