
    <form method="get" action="#" class="search_container">
    <input type="text" size="49" placeholder=" キーワード検索">
    <input class="search" type="submit" value="検索"><br>
    <input class="post" type="submit" value="投稿する">
    </form>

    <%= render 'tabs' %>

    <% @articles.each do |article| %>
        <%= link_to article_path(article) do %>
            <div class="card">
                <div class="card_content">
                    <div class="card_title">
                            <%= article.object_left %> vs <%= article.object_right %>
                    </div>
                    <div class="card_heart">
                        <%= image_tag 'heart.svg' %>
                        <span>23</span>
                    </div>
                    <d class="card_detail">
                        <%= image_tag 'default-avatar.png' %>
                        <div>
                            <p>shinta6348</p>
                            <p><%= article.display_created_at %></p>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    <% end %>

    <%= link_to new_article_path do %>
        <div class="float_btn">
            <i class="fa fa-plus"></i>
        </div>
    <% end %>
