%form.search_container{:action => "#", :method => "get"}
  %input{:placeholder => " キーワード検索", :size => "49", :type => "text"}/
  %input.search{:type => "submit", :value => "検索"}/
  %br/
  %input.post{:type => "submit", :value => "投稿する"}/
= render 'tabs'
- @articles.each do |article|
  = link_to article_path(article) do
    .card
      .card_content
        .card_title
          = article.object_left
          vs #{article.object_right}
        .card_heart
          = image_tag 'heart.svg'
          %span 23
        %d.card_detail
          = image_tag 'default-avatar.png'
          %div
            %p= article.author_name
            %p= article.display_created_at
= link_to new_article_path do
  .float_btn
    %i.fa.fa-plus
