.article
  .article_title
    .article_title_left
      = @article.object_left
    .article_title_right
      = @article.object_right
  .article_item
    .article_item
      %h3.article_item_title= @article.item1
      .article_item_rate
        .article_item_rate_left
          %h3 aaaaaaaaa
        .article_item_rate_right
          %h3 bbbbbbbbb
    .article_item
      %h3.article_item_title= @article.item2
      .article_item_rate
        .article_item_rate_left
          %h3 aaaaaaaaa
        .article_item_rate_right
          %h3 bbbbbbbbb
    .article_item
      %h3.article_item_title= @article.item3
      .article_item_rate
        .article_item_rate_left
          %h3 aaaaaaaaa
        .article_item_rate_right
          %h3 bbbbbbbbb
    .article_item
      %h3.article_item_title= @article.item4
      .article_item_rate
        .article_item_rate_left
          %h3 aaaaaaaaa
        .article_item_rate_right
          %h3 bbbbbbbbb
    .article_item
      %h3.article_item_title= @article.item5
      .article_item_rate
        .article_item_rate_left
          %h3 aaaaaaaaa
        .article_item_rate_right
          %h3 bbbbbbbbb
  .article_contributor_comment
    %p= @article.contributor_comment
  - if user_signed_in? && current_user.has_written?(@article) 
    .article_edit
      .btn-primary
        = link_to '編集する', edit_article_path(@article)
    .article_delete
      .btn-primary
        = link_to '削除する', article_path(@article), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
  .article_viewer_comment
    %h3 コメント欄
  .article_footer
    .article_footer_detail
      = image_tag 'default-avatar.png'
      %div
        %p= @article.author_name
        %p= @article.display_created_at
    .article_footer_heart
      = image_tag 'heart.svg'
