<!DOCTYPE html>
<html>
  <head>
    <title>ニタク！〜身近なものの比較サイト〜</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </head>

  <body>
    <header>
      <%= link_to root_path do %>
        <h1 class="title">ニタク！</h1>
        <p class="subtitle">身近なものの比較サイト</p> 
      <% end %>
    </header>
    <% if flash.present? %>
      <div class="flash">
        <% flash.each do |key, value| %>
          <div class="<%= key %>"><%= value %></div>
        <% end %> 
      </div> 
    <% end %>
    <%= yield %>
        
    <footer>
      <p>ニタク！</p>
    </footer>
  </body>
</html>
