<!DOCTYPE html>
<html>
  <head>
    <title>ComparisonApp2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="footerFixed">
      <header>
        <h1 class="title">ニタク！</h1>
        <p class="subtitle">身近なものの比較サイト</p> 
      </header>

      <%= yield %>
        
      <footer>
        <p>ニタク！</p>
      </footer>

    </div>
  </body>
</html>
